.text-color {
  color: #0095c3;
}

.icon-color {
  color: #0095c3;
}

.bg-color {
  background-color: #0095c3;
}

.bg-color-dark {
  background-color: #0684ac;
}

.bg-color-light {
  background-color: #d9eff6;
}

a,
a:link {
  color: #0095c3;
}

a:hover,
a:active,
a:focus {
  color: #0684ac;
}

.btn-color,
.inverse a.btn-color {
  background-color: #0095c3;
}

.btn-color:hover,
.btn-color:active,
.btn-color:focus {
  background-color: #0684ac !important;
}

.btn-border-color,
a.btn-border-color {
  color: #0095c3 !important;
  border-color: #0095c3;
}

.btn-border-color:hover,
.btn-border-color:active,
.btn-border-color:focus {
  color: #0684ac !important;
  border-color: #0684ac;
}

.input-group .btn {
  color: #0095c3 !important;
}

.form-control:focus,
.form-control:focus + .input-group-btn .btn {
  border-color: #0095c3;
}

.error .form-control,
.error .btn {
  border-color: #0095c3 !important;
}

.message {
  color: #0095c3;
}

.message-icon {
  border-color: #0095c3;
}

.panel-color {
  border-color: #0095c3;
}

.panel-color > .panel-heading {
  background-color: #0095c3;
}

.panel-color.active > .panel-heading {
  color: #0095c3;
}

.tp-bannertimer {
  background-color: #0095c3;
}

.dark-version .rs-dot .tp-bullet.selected,
.dark-version .rs-dot .tp-bullet:hover {
  background-color: #0095c3;
}

.dark-version .owl-theme .owl-dots .owl-dot.active span,
.dark-version .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #0095c3;
}

.ball-pulse-color > div {
  background-color: #0095c3;
}

.logo-color span {
  background-image: url("../../images/logo-blue.png");
}

.navbar-icon span {
  background-color: #0095c3;
}

.price-marker {
  background-color: #0095c3;
}

.speech-bubble-color {
  background-color: #0095c3;
}

.speech-bubble-color:after {
  border-color: #0095c3 transparent transparent;
}

.speech-bubble-light {
  background-color: #d9eff6;
}

.speech-bubble-light:after {
  border-color: #d9eff6 transparent transparent;
}

.circles-valueStroke {
  stroke: #0095c3;
}
